.form-container {
    margin-bottom: 20px;
}
  
label {
    display: inline-block;
    margin-bottom: 5px;
}
  
input {
    display: block;
    width: 80%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #d9534f;
    border-radius: 5px;
  }
  
button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}